numpy
pandas
scikit-image
pyevtk
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinxcontrib-inlinesyntaxhighlight
sphinxemoji
mock
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
